# Pre Processing the Dataset

This Jupyter Notebook consolidates, normalizes and separates the data into datasets to be utilized on the project.

## Consolitating the Data

This step focuses on unifying all CSV files downloaded into one file to serve as the dataset for the project.

In [39]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [46]:
df1 = pd.read_csv("../1.UNSW-NB15/UNSW-NB15_1.csv")
df1.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [41]:
df2 = pd.read_csv("../1.UNSW-NB15/UNSW-NB15_2.csv", header = None)
df3 = pd.read_csv("../1.UNSW-NB15/UNSW-NB15_3.csv", header = None)
df4 = pd.read_csv("../1.UNSW-NB15/UNSW-NB15_4.csv", header = None)

In [42]:
df2.columns = df.columns
df3.columns = df.columns
df4.columns = df.columns

In [21]:
df1.shape, df2.shape, df3.shape, df4.shape

((700000, 49), (700001, 49), (700001, 49), (440044, 49))

In [43]:
data = df1
data = data.append(df2)
data = data.append(df3)
data = data.append(df4)

In [45]:
data.shape
data.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [24]:
data.to_csv('../2.Dataset/UNSW-NB15.csv')

## Finding errors and null valor in the dataset

Here we'll prepare to find and fix errors and null values on the dataset.

In [25]:
import socket as sk
import struct as st
from sklearn.preprocessing import LabelEncoder

In [38]:
df = pd.read_csv("../2.Dataset/UNSW-NB15.csv", index_col = [0])
df.shape
df.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [29]:
#router's address 
df.loc[df.srcip == '192168241243','srcip'] = '192.168.241.243'
df.loc[df.dstip == '192168241243','dstip'] = '192.168.241.243'

AttributeError: 'DataFrame' object has no attribute 'srcip'

In [ ]:
#Converting Hex to Base 10
df.loc[df.dsport == '0xc0a8','dsport'] = '49320'
df.loc[df.dsport == '0x20205321','dsport'] = '538989345'
df.loc[df.dsport == '0xcc09','dsport'] = '52233'
df.loc[df.sport == '0x000b','sport'] = '11'
df.loc[df.sport == '0x000c','sport'] = '12'

In [30]:
#Converting IP to a numerical
df['srcip'] = df.srcip.apply(lambda x: st.unpack('!I', sk.inet_aton(x))[0])
df['dstip'] = df.dstip.apply(lambda x: st.unpack('!I', sk.inet_aton(x))[0])

AttributeError: 'DataFrame' object has no attribute 'srcip'

In [31]:
# Getting rid of unnecessary column
df.drop(columns='attack_cat', inplace = True)

#Handling missing values
df.drop(df.loc[df.dsport == '-'].index, inplace = True)
df.drop(df.loc[df.sport == '-'].index, inplace = True)

KeyError: "['attack_cat'] not found in axis"

In [32]:
# Handling inconsistent data
df.dur = df.dur.str.replace(',','.')
df.ackdat = df.ackdat.str.replace(',','.')
df.loc[df.ct_ftp_cmd == ' ', 'ct_ftp_cmd'] = df.ct_flw_http_mthd.mean()

AttributeError: 'DataFrame' object has no attribute 'dur'

In [33]:
#Convert objet 
df.sport.astype(int)
df.dsport.astype(int)
df.ackdat.astype(float)
df.dur.astype(float)

AttributeError: 'DataFrame' object has no attribute 'sport'

In [34]:
#Handling missing values
df.ct_flw_http_mthd.fillna(df.ct_flw_http_mthd.mean(), inplace = True)
df.is_ftp_login.fillna(df.is_ftp_login .mean(), inplace = True)

AttributeError: 'DataFrame' object has no attribute 'ct_flw_http_mthd'

In [35]:
# Handling categorical data
Encoder = LabelEncoder()
df.proto = Encoder.fit_transform(df.proto)
df.state = Encoder.fit_transform(df.state)
df.service = Encoder.fit_transform(df.service)

AttributeError: 'DataFrame' object has no attribute 'proto'